@{
    ViewData["Title"] = "Вход";
}

<div class="form_auth_block">
    <div class="form_auth_block_content">
        <p class="form_auth_block_head_text">Авторизация</p>

        <label>@ViewData["LoginMessage"]</label>

        <form asp-controller="Auth" asp-action="Login" method="post">
            <label>Введите Ваш имейл</label>
            <input type="email" name="email" placeholder="Введите Ваш имейл" required>
            <label>Введите Ваш пароль</label>
            <input type="password" name="password" placeholder="Введите пароль" required>
            <button class="form_auth_button" type="submit" name="form_auth_submit">Войти</button>
        </form>
        <a href="Register" class="form_auth_button">Регистрация</a>
    </div>
</div>
