@{
    ViewData["Title"] = "Регистрация";
}

<div class="form_auth_block">
    <div class="form_auth_block_content">
        <p class="form_auth_block_head_text">Регистрация</p>

        <label>@ViewData["RegisterMessage"]</label>

        <form asp-controller="Auth" asp-action="Register" method="post">
            <label>Введите Ваш логин</label>
            <input type="text" name="login" placeholder="Введите Ваш логин" required>
            
            <label>Введите Ваш имейл</label>
            <input type="email" name="email" placeholder="Введите Ваш имейл" required>

            <label>Введите Ваш пароль</label>
            <input type="password" name="password" placeholder="Введите пароль" required>
            
            <button class="form_auth_button" type="submit" name="form_auth_submit">Зарегистрироваться</button>
        </form>

        <a href="Login" class="menu-btn">Вход</a>

    </div>
</div>
