<div id="myMessageExample" class="d-flex justify-content-start my-4">
    <div class="card bg-primary text-white" style="max-width: 75%;">
        <div class="card-body p-2">
            <p id="txtBody" class="mb-1"></p>
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Действие 1</a></li>
                    <li><a class="dropdown-item" href="#">Действие 2</a></li>
                    <li><a class="dropdown-item" href="#">Ещё действие</a></li>
                </ul>
            </div>
        </div>
        <div class="card-footer bg-primary text-end small">
            <span id="nameBody">Имя пользователя</span> | <span id="time"></span>
        </div>
    </div>
ы